
//Typography and Links

a {
  text-decoration: none;
}

h2 {
  font-family: Morrisons-Agenda;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: normal;
}

//Base

body {
  font-family: Morrisons-Agenda;
  font-weight: 300;
  font-size: 14px;
}



//Forms
.combined-input {
  position: relative;
  font-size:0;
  line-height:0;

  input[type="text"] {
    width: 100%;
    height: 50px;
    background: #FFFFFF url($imgFolder + "/iconSearch.svg") 1.5% center no-repeat;
    background-size: 1.2rem;
    border-radius: 4px;
    border: 1px $warmGrey solid;
    padding: 7px 0px 7px 40px;
    -webkit-appearance: none;
    font-family: Morrisons-Agenda;
    font-weight: 100;
    font-size: 1rem;
    line-height: normal;
    margin: 0 0 5px 0;
  }
  @include tablet{
    input[type="text"] {
      height: 38px;
      width: 90%;
      border-radius: 4px 0 0 4px;
      vertical-align: top;
      margin: 0;
    }
  }

  button {
    vertical-align: top;
    width: 100%;
    height: 50px;
    background: $midGreen;
    border-radius: 4px;
    color: white;
    font-size: 1rem;
    line-height: normal;
    border: 1px $midGreen solid;
    -webkit-appearance: none;
    cursor: pointer;
    font-family: Morrisons-Agenda;
    font-weight: 100;
    transition: background-color 400ms ease;
  }
  @include tablet{
    button {
      height: 38px;
      border-radius: 0 4px 4px 0;
      width: 10%;
      margin-left:-1px;
    }
  }
  button:hover{
    background-color: $darkGreen;
  }
}