
.card {
  .card-inner {
    position: relative;
    height: 300px;
    background: #F2F2F2;
    overflow: hidden;
    transition: all 600ms ease;
  }
  @media only screen
  and (orientation : portrait) {
    .card-inner {
      height: 570px;
    }
  }
  .card-inner:hover {
    opacity:0.7;
    filter: alpha(opacity=70);
  }
  .card-inner-title {
    position: absolute;
    bottom:0;
    width: 100%;
    padding: 2%;
    font-family: Morrisons-Maja;
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
  }

  //Homepage cards

  .card-order{
    @include card-bg($imgFolder + "/cardOrder.jpg", $blueberryBlue);
  }
  .card-more{
    @include card-bg($imgFolder + "/cardMoreCard.jpg", $freshYellow);
  }
  .card-product{
    @include card-bg($imgFolder + "/cardProducts.jpg", $tomatoRed);
  }
  .card-store{
    @include card-bg($imgFolder + "/cardStore.jpg", $seaBlue);
  }

  //Order cards

  .card-foodToOrder{
    @include card-bg($imgFolder + "/cardFoodtoOrder.jpg", $blueberryBlue);
  }
  .card-partyShop{
    @include card-bg($imgFolder + "/cardPartyShop.jpg", $seaBlue);
  }
  .card-flowerWorld{
    @include card-bg($imgFolder + "/cardFlowerWorld.jpg", $freshYellow);
  }
  .card-home{
    @include card-bg($imgFolder + "/cardHome.jpg", $darkGreen);
  }

  //Logged in cards

  .card-customerService{
    @include card-bg($imgFolder + "/cardCustomerService.jpg", $darkGreen);
  }
  .card-runMyStore{
    @include card-bg($imgFolder + "/cardRunMyStore.jpg", $freshYellow);
  }
  .card-maintenance{
    @include card-bg($imgFolder + "/cardMaintenance.jpg", $grapePurple);
  }

  //Customer Services

  .card-customerDetails{
    @include card-bg($imgFolder + "/cardCustomerDetails.jpg", $darkGreen);
  }
  .card-customerComplaints{
    @include card-bg($imgFolder + "/cardCustomerComplaints.jpg", $blueberryBlue);
  }

}