@font-face {
font-family:Morrisons-Agenda;
src:url(../fonts/MorrisonsAgenda-Bold.eot);
src:url(../fonts/MorrisonsAgenda-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/MorrisonsAgenda-Bold.woff) format("woff"),url(../fonts/MorrisonsAgenda-Bold.ttf) format("truetype"),url(../fonts/MorrisonsAgenda-Bold.svg#Morrisons-Agenda-Bold) format("svg");
font-weight: bold;
font-style: normal;
}

@font-face {
font-family:Morrisons-Agenda;
src:url(../fonts/MorrisonsAgenda-Light.eot);
src:url(../fonts/MorrisonsAgenda-Light.eot?#iefix) format("embedded-opentype"),url(../fonts/MorrisonsAgenda-Light.woff) format("woff"),url(../fonts/MorrisonsAgenda-Light.ttf) format("truetype"),url(../fonts/MorrisonsAgenda-Light.svg#Morrisons-Agenda-Light) format("svg");
font-weight: 100;
font-style: normal;
}

@font-face {
font-family:Morrisons-Agenda;
src:url(../fonts/MorrisonsAgenda-Medium.eot);
src:url(../fonts/MorrisonsAgenda-Medium.eot?#iefix) format("embedded-opentype"),url(../fonts/MorrisonsAgenda-Medium.woff) format("woff"),url(../fonts/MorrisonsAgenda-Medium.ttf) format("truetype"),url(../fonts/MorrisonsAgenda-Medium.svg#Morrisons-Agenda-Medium) format("svg");
font-weight: 300;
font-style: normal;
}

@font-face {
font-family:Morrisons-Agenda;
src:url(../fonts/MorrisonsAgenda-Semibold.eot);
src:url(../fonts/MorrisonsAgenda-Semibold.eot?#iefix) format("embedded-opentype"),url(../fonts/MorrisonsAgenda-Semibold.woff) format("woff"),url(../fonts/MorrisonsAgenda-Semibold.ttf) format("truetype"),url(../fonts/MorrisonsAgenda-Semibold.svg#Morrisons-Agenda-Semibold) format("svg");
font-weight: 500;
font-style: normal;
}
@font-face {
  font-family: Morrisons-Maja;
  src: url(../fonts/MorrisonsMajaWeb-Bold.woff) format('woff'),
  url(../fonts/MorrisonsMajaWeb-Bold.svg#MorrisonsMaja) format('svg');
  font-weight: bold;
  font-style: normal;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
text-center {
  text-align: center;
}