//Helpers
//-----------------

//Layout

.hidden {
  display: none;
}
.margin-top-30{
  margin-top: 30px;
}
.full-width {
  width: 100%;
}

//Colour
.bg-grey {
  background-color: $paleGrey;
}



//Typography
.text-price {
  margin:0;
  padding: 0;
  color: $black;
  font-weight: 500;
  font-size: 1.2rem;
}
.text-subtle{
  font-size:0.8rem;
  margin:0;
  color: $warmGrey;
}
.text-center{
  text-align: center;
}
.text-darkGreen{
  color: $darkGreen;
}
.text-promo {
  font-size: 0.9rem;
  color: red;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid $paleGrey;
}
.text-strong {
  font-weight: 500;
}