/*Card Mixin*/

@mixin card-bg($url, $color) {
  background: url($url) no-repeat center;
  background-size:cover;

  .card-inner-title {
    background: rgba($color, 0.8) url($imgFolder + "iconChevRight.svg") no-repeat 98% center;
    background-size: 1.2rem;
  }
}

/*Breakpoint Mixins*/

@mixin tablet{
  @media (min-width: $tablet) {
    @content;
  }
}
@mixin desktop{
  @media (min-width: $desktop) {
    @content;
  }
}
@mixin desktop-lg{
  @media (min-width: $desktop-lg) {
    @content;
  }
}