.navbar {
  background-color: $darkGreen;
  min-height: 50px;
  color: #FFFFFF;

  .navbar-brand {
    position: absolute;
    width: 140px;
    height:50px;
    left:0;right:0;
    margin: 0 auto;
    text-align: center;
    img {
      height: 28px;
      margin: 10px 0;
    }
  }

  ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 1rem;
  }
  li {
    display: inline;
  }
  li img {
    vertical-align: middle;
    height: 1.4rem;
    margin: -2px 0 0 0;
  }
  li a {
    vertical-align: middle;
    display: inline-block;
    line-height: 50px;
    padding: 0 20px;
    color: #FFFFFF;
    text-decoration: none;
    transition: color 400ms ease;
  }
  li a:hover {
    color: #2ea836;
  }

  //Helpers

  .seperator-left:before{
    border-left: 1px solid #33715f;
    content: "";
    display: block;
    float: left;
    height: 26px;
    margin: 12px 0 0
  }
  .seperator-right:after{
    border-right: 1px solid #33715f;
    content: "";
    display: block;
    float: right;
    height: 26px;
    margin: 12px 0 0
  }
  .navitem-highlight {
    background-color: $freshYellow;
  }
  .navitem-highlight:hover {
    background-color: #e2a900;
  }
}



//Black version, used for logged in store members


.navbar-black {
  background-color: $black;
  .seperator-left:before{
    border-left: 1px solid #333333;
  }
  .seperator-right:after{
    border-right: 1px solid #333333;
  }
}