//Vertical center container
.overlay-container-outer {
  position:fixed;
  top:0;left:0;
  padding: 15px;
  display: table;
  height: 100%;  width: 100%;
  z-index: 2;
  box-sizing: border-box;
  background-color: rgba(158,158,158,0.7);
}
.overlay-container-inner {
  display:table-cell;
  vertical-align:middle;
  text-align: center;
}
.overlay-card {
  background-color: #FFFFFF;
  width: 500px;
  margin: 0 auto;
  border-radius: 8px;
  position: relative;
  padding:20px;
  box-sizing: border-box;
}
.icon-close {
  position: absolute;
  top: -20px; right: -20px;
  cursor: pointer;
  width: 60px;
  height: 60px;
  background: #FFFFFF url($imgFolder + "/iconX.svg") no-repeat center;
  background-size: 80%;
  transition: background-color 400ms ease;
  border-radius: 50%;
}
.icon-close:hover {
  background: $paleGrey url($imgFolder + "/iconX.svg") no-repeat center;
  background-size: 70%;
}