//product box
a .product-box{
  display: block;
  width: 100%;
  height: 340px;
  border: 1px solid $paleGrey;
  border-radius: 4px;
  overflow: hidden;


  .product-box-content {
    width: 90%;
    padding: 10px 0;
    height: 280px;
    margin: 0 auto;
    &>img {
      margin: 5px;
      max-height: 140px;
      max-width: 90%;
    }
  }
  .product-box-footer {
    background-color: #F2F2F2;
    padding: 10px 0;
    height: 60px;
    border-radius: 0 0 4px 4px;
  }
}
a .product-box:hover {
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}