$darkGreen: #004e37;
$lightGreen: #2ea836;
$freshYellow: #fcbc00;
$midGreen:#00893f;
$darkGrey: #47494b;
$warmGrey : #686c6f;
$paleGrey : #e3e6e5;
$black : #00020f;
$blueberryBlue : #006ab4;
$seaBlue : #7ccef3;
$grapePurple : #7e1b70;
$tomatoRed : #e73b2b;
$font: 'Morrisons-Agenda', Arial, sans-serif;
$imgFolder : '../images/';

$tablet : 768px;
$desktop : 922px;
$desktop-lg : 1200px;
