/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/*Card Mixin*/
/*Breakpoint Mixins*/
@font-face {
  font-family: Morrisons-Agenda;
  src: url(../fonts/MorrisonsAgenda-Bold.eot);
  src: url(../fonts/MorrisonsAgenda-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/MorrisonsAgenda-Bold.woff) format("woff"), url(../fonts/MorrisonsAgenda-Bold.ttf) format("truetype"), url(../fonts/MorrisonsAgenda-Bold.svg#Morrisons-Agenda-Bold) format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: Morrisons-Agenda;
  src: url(../fonts/MorrisonsAgenda-Light.eot);
  src: url(../fonts/MorrisonsAgenda-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/MorrisonsAgenda-Light.woff) format("woff"), url(../fonts/MorrisonsAgenda-Light.ttf) format("truetype"), url(../fonts/MorrisonsAgenda-Light.svg#Morrisons-Agenda-Light) format("svg");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: Morrisons-Agenda;
  src: url(../fonts/MorrisonsAgenda-Medium.eot);
  src: url(../fonts/MorrisonsAgenda-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/MorrisonsAgenda-Medium.woff) format("woff"), url(../fonts/MorrisonsAgenda-Medium.ttf) format("truetype"), url(../fonts/MorrisonsAgenda-Medium.svg#Morrisons-Agenda-Medium) format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: Morrisons-Agenda;
  src: url(../fonts/MorrisonsAgenda-Semibold.eot);
  src: url(../fonts/MorrisonsAgenda-Semibold.eot?#iefix) format("embedded-opentype"), url(../fonts/MorrisonsAgenda-Semibold.woff) format("woff"), url(../fonts/MorrisonsAgenda-Semibold.ttf) format("truetype"), url(../fonts/MorrisonsAgenda-Semibold.svg#Morrisons-Agenda-Semibold) format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: Morrisons-Maja;
  src: url(../fonts/MorrisonsMajaWeb-Bold.woff) format("woff"), url(../fonts/MorrisonsMajaWeb-Bold.svg#MorrisonsMaja) format("svg");
  font-weight: bold;
  font-style: normal; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

text-center {
  text-align: center; }

/*Grid*/
@-ms-viewport {
  width: device-width; }

.visible-xs, .visible-sm, .visible-md, .visible-lg {
  display: none !important; }

.visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }
  table.visible-xs {
    display: table; }
  tr.visible-xs {
    display: table-row !important; }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }

@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 921px) {
  .visible-sm {
    display: block !important; }
  table.visible-sm {
    display: table; }
  tr.visible-sm {
    display: table-row !important; }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }

@media (min-width: 768px) and (max-width: 921px) {
  .visible-sm-block {
    display: block !important; } }

@media (min-width: 768px) and (max-width: 921px) {
  .visible-sm-inline {
    display: inline !important; } }

@media (min-width: 768px) and (max-width: 921px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }

@media (min-width: 922px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; }
  table.visible-md {
    display: table; }
  tr.visible-md {
    display: table-row !important; }
  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }

@media (min-width: 922px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important; } }

@media (min-width: 922px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important; } }

@media (min-width: 922px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important; } }

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }
  table.visible-lg {
    display: table; }
  tr.visible-lg {
    display: table-row !important; }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }

@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 921px) {
  .hidden-sm {
    display: none !important; } }

@media (min-width: 922px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }

.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }
  table.visible-print {
    display: table; }
  tr.visible-print {
    display: table-row !important; }
  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }

.visible-print-block {
  display: none !important; }

@media print {
  .visible-print-block {
    display: block !important; } }

.visible-print-inline {
  display: none !important; }

@media print {
  .visible-print-inline {
    display: inline !important; } }

.visible-print-inline-block {
  display: none !important; }

@media print {
  .visible-print-inline-block {
    display: inline-block !important; } }

@media print {
  .hidden-print {
    display: none !important; } }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 922px) {
  .container {
    width: 892px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0%; }

@media (min-width: 768px) {
  .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.66666667%; }
  .col-sm-10 {
    width: 83.33333333%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.66666667%; }
  .col-sm-7 {
    width: 58.33333333%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.66666667%; }
  .col-sm-4 {
    width: 33.33333333%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.66666667%; }
  .col-sm-1 {
    width: 8.33333333%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-pull-11 {
    right: 91.66666667%; }
  .col-sm-pull-10 {
    right: 83.33333333%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-8 {
    right: 66.66666667%; }
  .col-sm-pull-7 {
    right: 58.33333333%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-5 {
    right: 41.66666667%; }
  .col-sm-pull-4 {
    right: 33.33333333%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-2 {
    right: 16.66666667%; }
  .col-sm-pull-1 {
    right: 8.33333333%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-push-11 {
    left: 91.66666667%; }
  .col-sm-push-10 {
    left: 83.33333333%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-8 {
    left: 66.66666667%; }
  .col-sm-push-7 {
    left: 58.33333333%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-5 {
    left: 41.66666667%; }
  .col-sm-push-4 {
    left: 33.33333333%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-2 {
    left: 16.66666667%; }
  .col-sm-push-1 {
    left: 8.33333333%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-offset-12 {
    margin-left: 100%; }
  .col-sm-offset-11 {
    margin-left: 91.66666667%; }
  .col-sm-offset-10 {
    margin-left: 83.33333333%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-8 {
    margin-left: 66.66666667%; }
  .col-sm-offset-7 {
    margin-left: 58.33333333%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-5 {
    margin-left: 41.66666667%; }
  .col-sm-offset-4 {
    margin-left: 33.33333333%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-2 {
    margin-left: 16.66666667%; }
  .col-sm-offset-1 {
    margin-left: 8.33333333%; }
  .col-sm-offset-0 {
    margin-left: 0%; } }

@media (min-width: 922px) {
  .col, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-1 {
    width: 8.33333333%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-pull-11 {
    right: 91.66666667%; }
  .col-md-pull-10 {
    right: 83.33333333%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-8 {
    right: 66.66666667%; }
  .col-md-pull-7 {
    right: 58.33333333%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-5 {
    right: 41.66666667%; }
  .col-md-pull-4 {
    right: 33.33333333%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-2 {
    right: 16.66666667%; }
  .col-md-pull-1 {
    right: 8.33333333%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-push-11 {
    left: 91.66666667%; }
  .col-md-push-10 {
    left: 83.33333333%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-8 {
    left: 66.66666667%; }
  .col-md-push-7 {
    left: 58.33333333%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-5 {
    left: 41.66666667%; }
  .col-md-push-4 {
    left: 33.33333333%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-2 {
    left: 16.66666667%; }
  .col-md-push-1 {
    left: 8.33333333%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-offset-12 {
    margin-left: 100%; }
  .col-md-offset-11 {
    margin-left: 91.66666667%; }
  .col-md-offset-10 {
    margin-left: 83.33333333%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-8 {
    margin-left: 66.66666667%; }
  .col-md-offset-7 {
    margin-left: 58.33333333%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-5 {
    margin-left: 41.66666667%; }
  .col-md-offset-4 {
    margin-left: 33.33333333%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-2 {
    margin-left: 16.66666667%; }
  .col-md-offset-1 {
    margin-left: 8.33333333%; }
  .col-md-offset-0 {
    margin-left: 0%; } }

@media (min-width: 1200px) {
  .col, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-11 {
    width: 91.66666667%; }
  .col-lg-10 {
    width: 83.33333333%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-8 {
    width: 66.66666667%; }
  .col-lg-7 {
    width: 58.33333333%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-5 {
    width: 41.66666667%; }
  .col-lg-4 {
    width: 33.33333333%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-2 {
    width: 16.66666667%; }
  .col-lg-1 {
    width: 8.33333333%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-pull-11 {
    right: 91.66666667%; }
  .col-lg-pull-10 {
    right: 83.33333333%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-8 {
    right: 66.66666667%; }
  .col-lg-pull-7 {
    right: 58.33333333%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-5 {
    right: 41.66666667%; }
  .col-lg-pull-4 {
    right: 33.33333333%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-2 {
    right: 16.66666667%; }
  .col-lg-pull-1 {
    right: 8.33333333%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-push-11 {
    left: 91.66666667%; }
  .col-lg-push-10 {
    left: 83.33333333%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-8 {
    left: 66.66666667%; }
  .col-lg-push-7 {
    left: 58.33333333%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-5 {
    left: 41.66666667%; }
  .col-lg-push-4 {
    left: 33.33333333%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-2 {
    left: 16.66666667%; }
  .col-lg-push-1 {
    left: 8.33333333%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-offset-12 {
    margin-left: 100%; }
  .col-lg-offset-11 {
    margin-left: 91.66666667%; }
  .col-lg-offset-10 {
    margin-left: 83.33333333%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-8 {
    margin-left: 66.66666667%; }
  .col-lg-offset-7 {
    margin-left: 58.33333333%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-5 {
    margin-left: 41.66666667%; }
  .col-lg-offset-4 {
    margin-left: 33.33333333%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-2 {
    margin-left: 16.66666667%; }
  .col-lg-offset-1 {
    margin-left: 8.33333333%; }
  .col-lg-offset-0 {
    margin-left: 0%; } }

.clearfix, .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
  content: " ";
  display: table; }

.clearfix:after, .container:after, .container-fluid:after, .row:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.padding-5 .col-sm-1, .padding-5 .col-sm-2, .padding-5 .col-sm-3, .padding-5 .col-sm-4, .padding-5 .col-sm-5, .padding-5 .col-sm-6, .padding-5 .col-sm-7, .padding-5 .col-sm-8, .padding-5 .col-sm-9, .padding-5 .col-sm-10, .padding-5 .col-sm-11, .padding-5 .col-sm-12,
.padding-5 .col-md-1, .padding-5 .col-md-2, .padding-5 .col-md-3, .padding-5 .col-md-4, .padding-5 .col-md-5, .padding-5 .col-md-6, .padding-5 .col-md-7, .padding-5 .col-md-8, .padding-5 .col-md-9, .padding-5 .col-md-10, .padding-5 .col-md-11, .padding-5 .col-md-12,
.padding-5 .col-lg-1, .padding-5 .col-lg-2, .padding-5 .col-lg-3, .padding-5 .col-lg-4, .padding-5 .col-lg-5, .padding-5 .col-lg-6, .padding-5 .col-lg-7, .padding-5 .col-lg-8, .padding-5 .col-lg-9, .padding-5 .col-lg-10, .padding-5 .col-lg-11, .padding-5 .col-lg-12 {
  padding: 5px; }

.padding-15 .col-sm-1, .padding-15 .col-sm-2, .padding-15 .col-sm-3, .padding-15 .col-sm-4, .padding-15 .col-sm-5, .padding-15 .col-sm-6, .padding-15 .col-sm-7, .padding-15 .col-sm-8, .padding-15 .col-sm-9, .padding-15 .col-sm-10, .padding-15 .col-sm-11, .padding-15 .col-sm-12,
.padding-15 .col-md-1, .padding-15 .col-md-2, .padding-15 .col-md-3, .padding-15 .col-md-4, .padding-15 .col-md-5, .padding-15 .col-md-6, .padding-15 .col-md-7, .padding-15 .col-md-8, .padding-15 .col-md-9, .padding-15 .col-md-10, .padding-15 .col-md-11, .padding-15 .col-md-12,
.padding-15 .col-lg-1, .padding-15 .col-lg-2, .padding-15 .col-lg-3, .padding-15 .col-lg-4, .padding-15 .col-lg-5, .padding-15 .col-lg-6, .padding-15 .col-lg-7, .padding-15 .col-lg-8, .padding-15 .col-lg-9, .padding-15 .col-lg-10, .padding-15 .col-lg-11, .padding-15 .col-lg-12 {
  padding: 15px; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.container-padding {
  padding: 15px; }

a {
  text-decoration: none; }

h2 {
  font-family: Morrisons-Agenda;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: normal; }

body {
  font-family: Morrisons-Agenda;
  font-weight: 300;
  font-size: 14px; }

.combined-input {
  position: relative;
  font-size: 0;
  line-height: 0; }
  .combined-input input[type="text"] {
    width: 100%;
    height: 50px;
    background: #FFFFFF url("../images//iconSearch.svg") 1.5% center no-repeat;
    background-size: 1.2rem;
    border-radius: 4px;
    border: 1px #686c6f solid;
    padding: 7px 0px 7px 40px;
    -webkit-appearance: none;
    font-family: Morrisons-Agenda;
    font-weight: 100;
    font-size: 1rem;
    line-height: normal;
    margin: 0 0 5px 0; }
  @media (min-width: 768px) {
    .combined-input input[type="text"] {
      height: 38px;
      width: 90%;
      border-radius: 4px 0 0 4px;
      vertical-align: top;
      margin: 0; } }
  .combined-input button {
    vertical-align: top;
    width: 100%;
    height: 50px;
    background: #00893f;
    border-radius: 4px;
    color: white;
    font-size: 1rem;
    line-height: normal;
    border: 1px #00893f solid;
    -webkit-appearance: none;
    cursor: pointer;
    font-family: Morrisons-Agenda;
    font-weight: 100;
    transition: background-color 400ms ease; }
  @media (min-width: 768px) {
    .combined-input button {
      height: 38px;
      border-radius: 0 4px 4px 0;
      width: 10%;
      margin-left: -1px; } }
  .combined-input button:hover {
    background-color: #004e37; }

.navbar {
  background-color: #004e37;
  min-height: 50px;
  color: #FFFFFF; }
  .navbar .navbar-brand {
    position: absolute;
    width: 140px;
    height: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center; }
    .navbar .navbar-brand img {
      height: 28px;
      margin: 10px 0; }
  .navbar ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 1rem; }
  .navbar li {
    display: inline; }
  .navbar li img {
    vertical-align: middle;
    height: 1.4rem;
    margin: -2px 0 0 0; }
  .navbar li a {
    vertical-align: middle;
    display: inline-block;
    line-height: 50px;
    padding: 0 20px;
    color: #FFFFFF;
    text-decoration: none;
    transition: color 400ms ease; }
  .navbar li a:hover {
    color: #2ea836; }
  .navbar .seperator-left:before {
    border-left: 1px solid #33715f;
    content: "";
    display: block;
    float: left;
    height: 26px;
    margin: 12px 0 0; }
  .navbar .seperator-right:after {
    border-right: 1px solid #33715f;
    content: "";
    display: block;
    float: right;
    height: 26px;
    margin: 12px 0 0; }
  .navbar .navitem-highlight {
    background-color: #fcbc00; }
  .navbar .navitem-highlight:hover {
    background-color: #e2a900; }

.navbar-black {
  background-color: #00020f; }
  .navbar-black .seperator-left:before {
    border-left: 1px solid #333333; }
  .navbar-black .seperator-right:after {
    border-right: 1px solid #333333; }

.card .card-inner {
  position: relative;
  height: 300px;
  background: #F2F2F2;
  overflow: hidden;
  transition: all 600ms ease; }

@media only screen and (orientation: portrait) {
  .card .card-inner {
    height: 570px; } }

.card .card-inner:hover {
  opacity: 0.7;
  filter: alpha(opacity=70); }

.card .card-inner-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2%;
  font-family: Morrisons-Maja;
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none; }

.card .card-order {
  background: url("../images//cardOrder.jpg") no-repeat center;
  background-size: cover; }
  .card .card-order .card-inner-title {
    background: rgba(0, 106, 180, 0.8) url("../images/iconChevRight.svg") no-repeat 98% center;
    background-size: 1.2rem; }

.card .card-more {
  background: url("../images//cardMoreCard.jpg") no-repeat center;
  background-size: cover; }
  .card .card-more .card-inner-title {
    background: rgba(252, 188, 0, 0.8) url("../images/iconChevRight.svg") no-repeat 98% center;
    background-size: 1.2rem; }

.card .card-product {
  background: url("../images//cardProducts.jpg") no-repeat center;
  background-size: cover; }
  .card .card-product .card-inner-title {
    background: rgba(231, 59, 43, 0.8) url("../images/iconChevRight.svg") no-repeat 98% center;
    background-size: 1.2rem; }

.card .card-store {
  background: url("../images//cardStore.jpg") no-repeat center;
  background-size: cover; }
  .card .card-store .card-inner-title {
    background: rgba(124, 206, 243, 0.8) url("../images/iconChevRight.svg") no-repeat 98% center;
    background-size: 1.2rem; }

.card .card-foodToOrder {
  background: url("../images//cardFoodtoOrder.jpg") no-repeat center;
  background-size: cover; }
  .card .card-foodToOrder .card-inner-title {
    background: rgba(0, 106, 180, 0.8) url("../images/iconChevRight.svg") no-repeat 98% center;
    background-size: 1.2rem; }

.card .card-partyShop {
  background: url("../images//cardPartyShop.jpg") no-repeat center;
  background-size: cover; }
  .card .card-partyShop .card-inner-title {
    background: rgba(124, 206, 243, 0.8) url("../images/iconChevRight.svg") no-repeat 98% center;
    background-size: 1.2rem; }

.card .card-flowerWorld {
  background: url("../images//cardFlowerWorld.jpg") no-repeat center;
  background-size: cover; }
  .card .card-flowerWorld .card-inner-title {
    background: rgba(252, 188, 0, 0.8) url("../images/iconChevRight.svg") no-repeat 98% center;
    background-size: 1.2rem; }

.card .card-home {
  background: url("../images//cardHome.jpg") no-repeat center;
  background-size: cover; }
  .card .card-home .card-inner-title {
    background: rgba(0, 78, 55, 0.8) url("../images/iconChevRight.svg") no-repeat 98% center;
    background-size: 1.2rem; }

.card .card-customerService {
  background: url("../images//cardCustomerService.jpg") no-repeat center;
  background-size: cover; }
  .card .card-customerService .card-inner-title {
    background: rgba(0, 78, 55, 0.8) url("../images/iconChevRight.svg") no-repeat 98% center;
    background-size: 1.2rem; }

.card .card-runMyStore {
  background: url("../images//cardRunMyStore.jpg") no-repeat center;
  background-size: cover; }
  .card .card-runMyStore .card-inner-title {
    background: rgba(252, 188, 0, 0.8) url("../images/iconChevRight.svg") no-repeat 98% center;
    background-size: 1.2rem; }

.card .card-maintenance {
  background: url("../images//cardMaintenance.jpg") no-repeat center;
  background-size: cover; }
  .card .card-maintenance .card-inner-title {
    background: rgba(126, 27, 112, 0.8) url("../images/iconChevRight.svg") no-repeat 98% center;
    background-size: 1.2rem; }

.card .card-customerDetails {
  background: url("../images//cardCustomerDetails.jpg") no-repeat center;
  background-size: cover; }
  .card .card-customerDetails .card-inner-title {
    background: rgba(0, 78, 55, 0.8) url("../images/iconChevRight.svg") no-repeat 98% center;
    background-size: 1.2rem; }

.card .card-customerComplaints {
  background: url("../images//cardCustomerComplaints.jpg") no-repeat center;
  background-size: cover; }
  .card .card-customerComplaints .card-inner-title {
    background: rgba(0, 106, 180, 0.8) url("../images/iconChevRight.svg") no-repeat 98% center;
    background-size: 1.2rem; }

.overlay-container-outer {
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  display: table;
  height: 100%;
  width: 100%;
  z-index: 2;
  box-sizing: border-box;
  background-color: rgba(158, 158, 158, 0.7); }

.overlay-container-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.overlay-card {
  background-color: #FFFFFF;
  width: 500px;
  margin: 0 auto;
  border-radius: 8px;
  position: relative;
  padding: 20px;
  box-sizing: border-box; }

.icon-close {
  position: absolute;
  top: -20px;
  right: -20px;
  cursor: pointer;
  width: 60px;
  height: 60px;
  background: #FFFFFF url("../images//iconX.svg") no-repeat center;
  background-size: 80%;
  transition: background-color 400ms ease;
  border-radius: 50%; }

.icon-close:hover {
  background: #e3e6e5 url("../images//iconX.svg") no-repeat center;
  background-size: 70%; }

a .product-box {
  display: block;
  width: 100%;
  height: 340px;
  border: 1px solid #e3e6e5;
  border-radius: 4px;
  overflow: hidden; }
  a .product-box .product-box-content {
    width: 90%;
    padding: 10px 0;
    height: 280px;
    margin: 0 auto; }
    a .product-box .product-box-content > img {
      margin: 5px;
      max-height: 140px;
      max-width: 90%; }
  a .product-box .product-box-footer {
    background-color: #F2F2F2;
    padding: 10px 0;
    height: 60px;
    border-radius: 0 0 4px 4px; }

a .product-box:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); }

.hidden {
  display: none; }

.margin-top-30 {
  margin-top: 30px; }

.full-width {
  width: 100%; }

.bg-grey {
  background-color: #e3e6e5; }

.text-price {
  margin: 0;
  padding: 0;
  color: #00020f;
  font-weight: 500;
  font-size: 1.2rem; }

.text-subtle {
  font-size: 0.8rem;
  margin: 0;
  color: #686c6f; }

.text-center {
  text-align: center; }

.text-darkGreen {
  color: #004e37; }

.text-promo {
  font-size: 0.9rem;
  color: red;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #e3e6e5; }

.text-strong {
  font-weight: 500; }
